/* navbar.scss */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #fff;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  width: 55px;
  height: 35px;
  flex-shrink: 0;
  border: none;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  background-color: #372045;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.search-icon {
  width: 25px;
  height: 25px;
  //margin-left: 10px;
}
